.table-view{
 }

.table-view:focused{
}



 .table-view .column-header {
     -fx-background-color: transparent;
} 

 .table-view .column-header-background{
  /*  -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%); */
}

 .table-view .column-header-background .label{
     -fx-background-color: white; 
    -fx-font-weight:bold;
    -fx-text-fill: black;
    
}

 .table-view .table-column{
    -fx-alignment:center;
}

 .table-view .table-cell{
 	-fx-font-family:"times new roman";
    -fx-font-weight:bold;
    -fx-font-size:20px;          
     -fx-text-fill:black; 

}


 /* .table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; 
}

//Style for each <odd> row of table view
.table-row-cell:odd{
    -fx-background-color: orange;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;  
}
*/

 .table-row-cell:selected {
   /* -fx-border-color:transparent firebrick transparent firebrick  ;
    -fx-border-width:2.0; */
}


 .table-row-cell:hover {
    -fx-background-color:#ffe6b7;
}

 .table-row-cell:focused {
    -fx-background-color:#e0defe;
}