.root {
	-fx-font-family: "Charter";
	-fx-font-size: 16;
}

.tab:selected {
	
}



.tab:selected  {
	-fx-font-weight: bold;
	-fx-font-size: 16;
	-fx-background-color: #d5d5ff;
	
}

.tab .tab-label {
	-fx-font-size: 16;
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: #eaeaea;
	-fx-font-size: 16;
	
}